$mainPurple: #8a0bdb;
$mainBlack: #1f1f1f;
$textColor: #95989a;
$subscribe: #0bdba3;
$gradientVertical: linear-gradient(
  180deg,
  rgba(11, 219, 163, 1) 0%,
  rgba(138, 11, 219, 1) 100%
);
$gradientHorizen: linear-gradient(
  90deg,
  rgba(11, 219, 163, 1) 0%,
  rgba(138, 11, 219, 1) 100%,
);
